<!DOCTYPE html>

<html>
<head>
    <title>Subir Imagen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
  {% extends 'base.html' %}
    {% block content %}
    <div class="container mt-5">
        <h2>Subir Imagen</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in image_form %}
            <div class='form-group'>
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Subir Imagen</button>
        </form>
        <br>
        <form action="{% url 'Show_Images' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" value="Mostrar imagenes">Mostrar imagenes </button>
        </form>
        {% csrf_token %}
        {% if img_path %}
        <div>
            <div class="container mt-5" width="400px" heigth="300px">
               <center> <img src="{{ img_path }}" style="margin: 20px;border-radius: 40%;
                overflow: hidden; width: 400px; heigth: 300px"/>
              <h2>Resultados del reconocimiento de rostros:</h2>
              <br>
              <p>Edad: {{ age }}</p>
              <p>Genero: {{ gender }}</p>
              <p>Estado de animo: {{ emotion }}</p>
              <p> Raza: {{ race }} </p> </center>
            </div>
        </div>
        {% endif %} 
        {% csrf_token %}
        {% if images %}
        <div>
          <h1> Rostros similares </h1>
        {% for imagen in images %}
                <img src="{{ imagen }}" style="margin: 20px;border-radius: 40%;
                overflow: hidden; width: 200px; object-fit: cover"/>
            {% endfor %}
          </div>
            {% endif %}
    </div>
    {% endblock content %}
</body>
</html>

<!--<div class="mb-3">
    <label for="imageUpload" class="form-label">Seleccione una imagen:</label>
    <input type="file" class="form-control" id="imageUpload" name="image">
    <table  class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Imagen</th>
              </tr>
            </thead>
    <tbody>
              {% for imagen in imagenes %}
              <tr>
                <td>{{ imagen.image }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</div>-->
