<!DOCTYPE html>
<html>
    <head>
        <title>Visualizar imagenes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container mt-5">
        <h2> Visualización de imagenes </h2>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% csrf_token %}
            {% if imagenes %}
                {% for imagen in imagenes %}
            <div v-for="imagen in imagenes" class="col">
                <div class="card">
                <img class="card-img-top" src="{{ imagen }}" />
                
                </div>
            </div>
            {% endfor %}
            {% endif %}
            
        </div>
        <br>
        <form action="{% url 'Return_Home' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" value="Mostrar imagenes">Regresar </button>
          </form>
    </div>
    </body>
</html>