.content-header{
    max-width: 700px;
  }

  .fw-normal{
    font-weight: 400!important;
  }

  .rounded-3{
    border-radius: var(--bs-border-radius-lg)!important;
  }

  .display-4{
    font-size:calc(1.475rem+2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }

  .flex-column{
    flex-direction: column!important;
  }
  
  .d-flex{
    display: flex!important;
  }

  .w-100{
    width: 100%!important;
  }
  
  .fs-4{
    font-size: calc(1.275rem + .3vw)!important;
  }

  .fs-5{
    font-size: 1.25rem!important;
  }
  
  .text-body-secondary{
    --bs-text-opacity:1;
    color: rgba(33,37,41,0.75);
  }

  .navbar-brand{
    display: flex; 
    align-items: center; 
    padding: 10px 15px;
  }

  
  .navbar{
    background-color: #FAF6EA; 
}


  .text-center{
    text-align: center;
  }
  
  .p-3 {
    padding: 1rem!important;
  }
  
  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  .mb-3{
    margin-bottom: 1rem!important;
  }

  .mb-4{
    margin-bottom: 1.5rem!important;
  }

  .shadow-sm{
    box-shadow: var(--bs-box-shadow-sm)!important;
  }

  .mx-auto{
    margin-right: auto!important;
    margin-left: auto!important;
  }

  div{
    display: block;
  }
  
  .mt-3{
    margin-top: 1rem!important;
  }
  
  .align-items-center{
    align-items: center!important;
  }

  .slogan {
    color: #2c3e50; 
    font-size: 1.5rem;
    font-family: 'Helvetica', sans-serif; 
}

  .btn-primary{
    background-color: #FEA06D;
    border: none;
  }

  .btn-primary:hover {
    /* Estilos cuando el ratón está encima */
    background-color: #f7874b;
    border: 2px solid #2c3e50;
}
  
  Label{
    display: block;
    margin-top:1em;
  }

  .card{
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
  }
  
  
  
  
  